<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="../static/css/dashboard-style.css">
</head>
<body>
    <div class="ParentDivContainer">
        <div>
            <nav class="sidebar close">
                <header>
                    <div class="image-text">
                        <span class="image">
                            <img src="../static/imgs/PSITS_LOGO.png" alt="logo">
                        </span>
                        <div class="text header-text">
                            <span class="name">Sitin-Monitoring</span>
                            <span class="prefession">Project</span>
                        </div>
                    </div>

                    <i class="bx bx-chevron-right toggle"></i>
                </header>
                <div class="menu-bar">
                    <div class="menu">
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="">
                                    <i class='bx bx-home-alt icon' ></i>
                                    <span class="text nav-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="{{url_for('announcement_template')}}">
                                    <i class='bx bxs-megaphone  icon' ></i>
                                    <span class="text nav-text ">Anouncement</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="{{url_for('students_record_template')}}">
                                    <i class='bx bxs-megaphone  icon' ></i>
                                    <span class="text nav-text ">Students</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="{{url_for('sitin_template')}}">
                                    <i class='bx bx-chair icon' ></i>
                                    <span class="text nav-text">Sitin</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="{{url_for('sitin_records_template')}}">
                                    <i class='bx bx-calendar-check icon'  ></i>
                                    <span class="text nav-text">Sitin Records</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="{{url_for('feedback_template')}}">
                                    <i class='bx bxs-report icon'></i>
                                    <span class="text nav-text">Feedbacks Records</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom-content">
                        <li class="">
                            <a href="{{url_for('logout')}}">
                                <i class='bx bx-log-out icon' id="logout-btn"></i>
                                <span class="text nav-text">Logout</span>
                            </a>
                        </li>
                        <li class="mode">
                            <div class="moon-sun">
                                <i class='bx bx-moon icon moon'></i>
                                <i class='bx bx-sun  icon sun'></i>
                            </div>
                            <span class="mode-text text">Dark Mode</span>
                            <div class="toggle-switch"> 
                                <span class="switch"></span>
                            </div>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
        <div class="contentDiv">
            <div class="topNavigation">
                <div class="items item1 text"> 
                    <div><i class='bx bxs-bell'></i></div>
                    <div><h2>Profile</h2></div>
                </div>
            </div>
            <div class="" style="margin-left: 30px;">
                <div class=""> 
                    <h1>Welcome {{record[1]}}!</h1>
                </div>
            </div>
        </div>
    </div>
<script src="../static/darkmode.js"></script> 
</body>
</html>
    
    