<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url("../static/imgs/diwata.png");
        }
    </style>
</head>
<body>
    <h1>
        Di mo alam dahil sa 'yo, ako'y 'di makakain
        'Di rin makatulog buhat nang iyong lokohin
        Kung ako'y muling iibig, sana'y 'di maging katulad mo
        Tulad mo na may pusong bato
        
        Kahit sa'n ka man ngayon
        Dinggin mo itong awitin
        Baka sakaling ika'y magising
        Ang matigas mong damdamin
        
        'Di mo alam dahil sa 'yo, ako'y 'di makakain
        'Di rin makatulog buhat nang iyong lokohin
        Kung ako'y muling iibig, sana'y 'di maging katulad mo
        Tulad mo na may pusong bato
        
        'Di mo alam dahil sa 'yo, ako'y 'di makakain
        'Di rin makatulog buhat nang iyong lokohin
        Kung ako'y muling iibig, sana'y 'di maging katulad mo
        Tulad mo na may pusong bato</h1>
</body>
</html>