<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="../static/css/dashboard-style.css">
</head>
<body>
    <div class="ParentDivContainer">
        <div>
            <nav class="sidebar close">
                <header>
                    <div class="image-text">
                        <span class="image">
                            <img src="../static/imgs/PSITS_LOGO.png" alt="logo">
                        </span>
                        <div class="text header-text">
                            <span class="name">Sitin-Monitoring</span>
                            <span class="prefession">Project</span>
                        </div>
                    </div>

                    <i class="bx bx-chevron-right toggle"></i>
                </header>
                <div class="menu-bar">
                    <div class="menu">
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-home-alt icon' ></i>
                                    <span class="text nav-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bxs-megaphone  icon' ></i>
                                    <span class="text nav-text ">Anouncement</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-notepad icon' ></i>
                                    <span class="text nav-text">Rules</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-calendar-check icon'  ></i>
                                    <span class="text nav-text">Reservation</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-time-five icon' ></i>
                                    <span class="text nav-text">History</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-user icon' ></i>
                                    <span class="text nav-text">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom-content">
                        <li class="">
                            <a href="#">
                                <i class='bx bx-log-out icon'></i>
                                <span class="text nav-text">Logout</span>
                            </a>
                        </li>
                        <li class="mode">
                            <div class="moon-sun">
                                <i class='bx bx-moon icon moon'></i>
                                <i class='bx bx-sun  icon sun'></i>
                            </div>
                            <span class="mode-text text">Dark Mode</span>
                            <div class="toggle-switch"> 
                                <span class="switch"></span>
                            </div>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
        <div class="contentDiv">
            <div class="topNavigation">
                <div class="items item1 text"> 
                    <div><i class='bx bxs-bell'></i></div>
                    <div><h2>Profile</h2></div>
                </div>
            </div>
            <div class="" style="margin-left: 30px;">
                <div class=""> 
                    <div><h1>Edit Profile</h1></div>
                </div>
            </div>
            <!-- <div class="mainProfileContainer">
                <div class="editProfileContainer">
                    <div class="imageProfile">
                        <img id="profile-pic" src="{{ record[9] if record[9] else '/static/default.png' }}" alt="Profile Image">
                        <div class="overlay">
                            <i class='bx bxs-camera-plus icon' id="profile-img-icon"></i>
                        </div>
                        <input id="file-upload" type="file" name="profile_image" accept="image/*" style="display: none;">
                    </div>
                    <div class="personalContainer">
                        <form action="/update">
                            <div class="personHeaderContainer">
                                <h2>Personal Information</h2>
                            </div>
                            <div class="row">
                                <div class="input-field">
                                    <label>First name</label>
                                    <input type="text"  value="{{record[1]}}">
                                    <i class='bx bx-edit-alt icon'></i>
                                </div>
                               
                                <div class="input-field">
                                    <label>Last name</label>
                                    <input type="text" value="{{record[2]}}">
                                    <i class='bx bx-edit-alt icon'></i>
                                </div>
                            </div>
                            <div class="input-field">
                                <label>Middle name</label>
                                <input type="text" value="{{record[3]}}">
                                <i class='bx bx-edit-alt icon'></i>
                            </div>
                            <div class="input-field">
                                <label>Email</label>
                                <input type="text" value="{{record[4]}}">
                                <i class='bx bx-edit-alt icon'></i>
                            </div>
                            <div class="personHeaderContainer">
                                <h2>Account</h2>
                            </div>
                            <div class="input-field">
                                <label>Username</label>
                                <input type="text" value="{{record[5]}}">
                                <i class='bx bx-edit-alt icon'></i>
                            </div>
                            
                            <div class="input-field">
                                <label>Password</label>
                                <input type="password" class="password" value="{{record[8]}}">
                                <i class='bx bx-edit-alt icon'></i>
                            </div>
                            <div class="input-field">
                                <label>Re-enter password</label>
                                <input type="password" class="password" value="">
                                <i class='bx bx-edit-alt icon'></i>
                            </div>
                     
                            <div class="input-field button">
                                <input type="submit" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div> -->
            <div class="mainProfileContainer">
                <form class="editProfileContainer" action="/update_profile" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="existing_profile_image" value="{{ record[9] }}">  <!-- Hidden field to retain old image -->
                    
                    <div class="imageProfile">
                        <img id="profile-pic" src="{{ record[9] if record[9] else '/static/default.png' }}" alt="Profile Image">
                        <div class="overlay">
                            <i class="bx bxs-camera-plus icon" id="profile-img-icon"></i>
                        </div>
                        <input id="file-upload" type="file" name="profile_image" accept="image/*" style="display: none;">
                    </div>
                
                    <div class="personalContainer">
                        <div>
                            <div class="personHeaderContainer">
                                <h2>Personal Information</h2>
                            </div>
                            <div class="row">
                                <div class="input-field">
                                    <label>First name</label>
                                    <input type="text" name="first_name" value="{{record[1]}}" readonly>
                                    <i class="bx bx-edit-alt icon"></i>
                                </div>
                                
                                <div class="input-field">
                                    <label>Last name</label>
                                    <input type="text" name="last_name" value="{{record[2]}}" readonly>
                                    <i class="bx bx-edit-alt icon"></i>
                                </div>
                            </div>
                            <div class="input-field">
                                <label>Middle name</label>
                                <input type="text" name="middle_name" value="{{record[3]}}" readonly>
                                <i class="bx bx-edit-alt icon"></i>
                            </div>
                            <div class="input-field">
                                <label>Email</label>
                                <input type="text" name="email" value="{{record[4]}}" readonly>
                                <i class="bx bx-edit-alt icon"></i>
                            </div>
                            <div class="personHeaderContainer">
                                <h2>Account</h2>
                            </div>
                            <div class="input-field">
                                <label>Username</label>
                                <input type="text" name="username" value="{{record[7]}}" readonly>
                                <i class="bx bx-edit-alt icon"></i>
                            </div>
                            
                            <div class="input-field">
                                <label>Password</label>
                                <input type="password" class="password" name="password" value="{{record[8]}}" readonly>
                                <i class="bx bx-edit-alt icon"></i>
                            </div>
                            <div class="input-field">
                                <label>Re-enter password</label>
                                <input type="password" class="password" value="">
                                <i class="bx bx-edit-alt icon"></i>
                            </div>
                            <div class="input-field button">
                                <input type="submit" value="Save">
                            </div>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
<script src="../static/darkmode.js"></script> 
<script src="../static/upload_image.js"></script> 
</body>
</html>
    
    