<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS (in <head>) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript (before </body>) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
      -->
    <link rel="stylesheet" href="../static/css/login-style.css">
    
    
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="position-fixed top-0 start-50 translate-middle-x mt-3 w-50 z-3">
            {% for category, message in messages %}
                <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alert-dismissible fade show shadow" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    <div class="container">
      
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form action="/privacy" method="post">
                   
                    <div class="input-field">
                        <input name ="username" type="text"  required>
                        <label for="">Username</label>
                        <i class="uil uil-user icon"></i>
                    </div>
                    <div class="input-field">
                        <input name ="password" type="password" class="password" required>
                        <label for="" name="password">Password</label>
                        <i class="uil uil-padlock"></i>
                        <i class="uil uil-eye-slash show_hide" onclick=""></i>
                    </div>
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Login">
                    </div>
                </form>
                <div class="login-signup"> 
                    <span class="text">Don't have an account? 
                        <a href="#" class="text signup-link">Signup now</a>
                    </span>
                </div>
            </div>

<!-- Registration Form -->
<div class="form signup">
    <span class="title">Registration</span>

    <form action="/register" method="post">
        
        <div class="input-field">
            <input name="r-idno" type="text" required>
            <label>Idno</label>
            <i class="uil uil-user icon"></i>
        </div>
        <div class="select-row ">
            <div class="input-field test-1">
                <input name="r-firstname" type="text"  required>
                <label>First name</label>
                <i class="uil uil-user icon"></i>
            </div>
            <div class="input-field">
                <input name="r-lastname" type="text" required>
                <label>Last name</label>
                <i class="uil uil-user icon"></i>
            </div>
        </div>
        <div class="input-field">
            <input name="r-middlename" type="text" required>
            <label>Middle name</label>
            <i class="uil uil-user icon"></i>
        </div>
        <div class="input-field">
            <input name="r-email" type="text" required>
            <label>Email</label>
            <i class="uil uil-envelope-alt"></i>
        </div>
        <div class="select-row">
            <div class="input-field test-1">
                <i class="uil uil-graduation-cap"></i>
                <select id="course-select" name="r-course">
                    <option disabled selected>Course</option>
                    <option value="BSIT">BSIT</option>
                    <option value="BSCS">BSCS</option>
                    <option value="BSBA">BSBA</option>
                    <option value="BSCPE">BSCPE</option>
                    <option value="BSCRIM">BSCRIM</option>
                    <option value="BSHM">BSHM</option>
                    <option value="BSED">BSED</option>
                </select>
            </div>
            <div class="input-field ">
                <i class="uil uil-schedule"></i>
                <select name="r-year">
                    <option disabled selected>Year</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
       
        <div class="input-field">
            <input name="r-username" type="text" required>
            <label>Username</label>
            <i class="uil uil-user icon"></i>
        </div>
        
        <div class="input-field">
            <input name="r-password" type="password" class="password"  required>
            <label>Password</label>
            <i class="uil uil-padlock"></i>
            
        </div>
        <div class="input-field">
            <input name="r-repassword" type="password" class="password" required>
            <label>Re-enter password</label>
            <i class="uil uil-padlock"></i>
            <i class="uil uil-eye-slash show_hide" onclick=""></i>
        </div>
        <div class="input-field button">
            <input id="r-regiser" type="submit" value="Register">
        </div>
    </form>
    <div class="login-signup"> 
        <span class="text">Have an account? 
            <a href="#" class="text login-link">Signin now</a>
        </span>
    </div>
</div>
</div>
</div>
<script src="../static/auth.js"></script>
</body>
</html>