<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="../static/css/dashboard-style.css">
    <title>Document</title>
</head>
<body>
    <div class="ParentDivContainer">
        <div>
            <nav class="sidebar close">
                <header>
                    <div class="image-text">
                        <span class="image">
                            <img src="../static/imgs/PSITS_LOGO.png" alt="logo">
                        </span>
                        <div class="text header-text">
                            <span class="name">Sitin-Monitoring</span>
                            <span class="prefession">Project</span>
                        </div>
                    </div>

                    <i class="bx bx-chevron-right toggle"></i>
                </header>
                <div class="menu-bar">
                    <div class="menu">
                        <ul class="menu-links">
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-home-alt icon' ></i>
                                    <span class="text nav-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bxs-megaphone  icon' ></i>
                                    <span class="text nav-text ">Anouncement</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-notepad icon' ></i>
                                    <span class="text nav-text">Rules</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-calendar-check icon'  ></i>
                                    <span class="text nav-text">Reservation</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-time-five icon' ></i>
                                    <span class="text nav-text">History</span>
                                </a>
                            </li>
                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-home-alt icon'></i>
                                    <span class="text nav-text">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom-content">
                        <li class="">
                            <a href="#">
                                <i class='bx bx-log-out icon'></i>
                                <span class="text nav-text">Logout</span>
                            </a>
                        </li>
                        <li class="mode">
                            <div class="moon-sun">
                                <i class='bx bx-moon icon moon'></i>
                                <i class='bx bx-sun  icon sun'></i>
                            </div>
                            <span class="mode-text text">Dark Mode</span>
                            <div class="toggle-switch"> 
                                <span class="switch"></span>
                            </div>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
        <div class="contentDiv">
            <div class="topNavigation">
                <div class="items item1 text"> 
                    <div><i class='bx bxs-bell'></i></div>
                    <div><h2>Profile</h2></div>
                </div>
            </div>
            <div class="" style="margin-left: 30px;">
                <div><h1>Rules</h1></div>
            </div>
            <div class="mainProfileContainer">
                
               <div class="rulesContainer">
                    <div class="rulesHeader">
                        <h2>Lab Rules</h2>
                    </div>
                    <hr>
                    <div class="rulesDivContext">
                        <div class="rulesImage">
                            <img src="../static/imgs/comlab.png" alt="">
                        </div>
                        <div class="rulesContext">
                            <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error magnam et eaque enim dolorem temporibus accusamus in nisi eveniet dolor. Quia atque quibusdam hic distinctio? Aliquid omnis quam magnam fugit.
                            Veritatis officia doloremque facilis dolor, autem deleniti molestias? Harum molestias qui, magni itaque fugit id totam voluptatibus earum quo ab odio, numquam eveniet animi expedita incidunt voluptatum beatae natus corporis.
                            Ipsa recusandae sequi earum et ex eos blanditiis voluptatum numquam rem hic sapiente facere nulla labore obcaecati, a delectus culpa corrupti maxime nostrum cumque debitis! Maxime ducimus magnam nam dolorum!
                            Totam error itaque vero inventore consectetur in veniam ex sed temporibus dolorem esse beatae, ipsam unde tempore nisi quasi dolores voluptas nam sunt ad voluptatem! Impedit quasi unde autem itaque!</p>
                        </div>
                    </div>
                
               </div>
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>